body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  margin: 0;
  height: 100vh;
}

/*Mes Projets*/

.titreProjets {
  font-family: neon;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
}

.neondeux {
  --lights: rgb(91, 235, 115);
  text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
    0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
  animation: flicker 7s infinite;
  filter: brightness(1);
}

@keyframes flicker {
  9% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  10% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  11% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  12% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  13% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  66% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  67% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  75% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  76% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
}

/* carroussel : */

.swiper {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.swiper {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(29, 27, 27, 0.8);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.tickethack {
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.swiper-slide:hover .tickethack,
.swiper-slide:hover .locapic {
  transform: scale(1.1);
}

.swiper-slide p {
  font-size: 18px;
  color: #fff;
  margin: 10px 0;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  opacity: 1 !important;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: rgb(91, 235, 115);
}

.locapic {
  border-radius: 35px;
  height: 200px;
  width: 100px;
}

.react {
  color: #03d1f6;
  font-size: 30px;
  margin-top: 10px;
}

.java {
  color: yellow;
  font-size: 30px;
  margin-top: 10px;
}

.sous-logo {
  display: flex;
  align-items: center;
}

.next-js {
  width: 30px;
  margin-top: 10px;
}

.node {
  width: 30px;
  margin-top: 10px;
}

.qrcode {
  width: 90px;
}

/*bouton:*/

.retour {
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 90px;
  display: flex;
}

.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-retour:before {
  content: "";
  background: linear-gradient(
    45deg,
    #48ff00,
    #00ffd5,
    #fffb00,
    #48ff00,
    #00ffd5,
    #fffb00,
    #00ffd5,
    #fffb00,
    #48ff00
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-retour:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*transition page: */

.button .buttons {
  margin-top: 2.25em;
}

.buttons .button {
  margin-left: 150px;
}

.button {
  display: fixed;
  border-radius: 20px;
  background: transparent;
  border: 2px solid;
  padding: 0.6em 0.7em;
  transition-property: background, color;
  transition-duration: 150ms;
  white-space: nowrap;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.button:hover {
  background: grey;
}

/* Responsive Design pour petits écrans */
@media (max-width: 768px) {
  .swiper {
    height: 300px;
  }

  .swiper-slide p {
    font-size: 14px;
  }

  .swiper-slide ion-icon {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .swiper {
    height: 250px;
  }

  .swiper-slide p {
    font-size: 12px;
  }

  .swiper-slide ion-icon {
    font-size: 20px;
  }
}
